<!DOCTYPE html>
<html>
  <head>
    <title>Events in UAE</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- <link rel="stylesheet" type="text/css" href="style.css" /> -->
    <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
		#map {
		  height: 100%;
		}
		
		/* Optional: Makes the sample page fill the window. */
		html,
		body {
		  height: 100%;
		  margin: 0;
		  padding: 0;
		}
		    
    
    
    
    </style>
    <!-- <script src="index.js"></script> -->
    <script>
    let map;

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        zoom: 6,
        center: new google.maps.LatLng(23.4241, 53.8478),
        mapTypeId: "hybrid",
      });

      // Create a <script> tag and set the USGS URL as the source.
      const script = document.createElement("script");

      // This example uses a local copy of the GeoJSON stored at
      // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
      //script.src =
      //  "https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js";
    	script.src = "http://localhost:8080/test";
    	//"events.js";
      document.getElementsByTagName("head")[0].appendChild(script);
    }

    // Loop through the results array and place a marker for each
    // set of coordinates.
    //const eqfeed_callback = function (results) {
    //  for (let i = 0; i < results.features.length; i++) {
//        const coords = results.features[i].geometry.coordinates;
    //   const latLng = new google.maps.LatLng(coords[1], coords[0]);

   const eqfeed_callback = function (results) {
  for (let i = 0; i < results.results.length; i++) {
    const coords = results.results[i].location;
   const latLng = new google.maps.LatLng(coords[1], coords[0]);
   const mname = results.results[i].title;
   const mdesc = results.results[i].description;
   const mstart = results.results[i].start;
   const mend = results.results[i].end;
    const mcategory = results.results[i].category;
	const mquery = "https://www.google.com/search?q="+mname.replace(/\s/g, '+');
	var maddress;
	if(results.results[i].entities[i]!=null){
		 maddress = results.results[i].entities[i].formatted_address;
	}
	if(results.results[i].entities[i]==null){
		
		maddress = "Not Available";
	}
	
	
	//console.log(results.results[i].entities[0].formatted_address);
	const mlocalrank = results.results[i].local_rank;
	const mlabels = results.results[i].labels;
	if(results.results[i].labels[1]==null){
		
		results.results[i].labels[1]=" ";
	}
	
	//console.log(mquery);
   
	const contentString =
    '<div id="content">' +
    '<div id="siteNotice">' +
    "</div>" +
    '<h1 id="firstHeading" class="firstHeading">'+
	mname +
	'</h1>' +
    '<div id="bodyContent">' +
    "<p>"+
	mdesc +
	"</p>" +
    '<p>Category: ' +
	mcategory +
	', ' +
	"</p>" +
	'<a href=' +
	mquery +
	'>' +
	mname +
	'</a>, ' +
	"</p>" +
	"Address: " +
    maddress +
	', ' +
	"</p>" +
	"Started on: " +
    mstart +
	', ' +
	"</p>" +
	"</a> Ending on: " +
	mend +
	', ' +
	"</p>" +
	"Labels: " +
    mlabels[0] +
	', ' +
	mlabels[1] +
	', ' +
	"</p>" +
	"Local Rank: " +
    mlocalrank +
	"</p>" +
    "</div>" +
    "</div>";
        
        
        
    	var image;
    	
    	if(mcategory=="sports"){
    		
    		  image = "/images/sportss.png";
    		
    	}
    	if(mcategory=="conferences"){
    		
    		  image = "/images/conferencess.png";
    		
    	}
    	if(mcategory=="academic"){
    		
    		  image = "/images/academicss.png";
    		
    	}
    	if(mcategory=="expos"){
    		
    		  image = "/images/exposs.png";
    		
    	}
    	if(mcategory=="festivals"){
    		
    		  image = "/images/festivalss.png";
    		  }
    	if(mcategory=="community"){
    		
  		  image = "/images/communityss.png";
  		
	  	}
	  	if(mcategory=="concerts"){
	  		
	  		  image = "/images/concertss.png";
	  		
	  	}
	  	if(mcategory=="performing arts"){
	  		
	  		  image = "/images/performing artss.png";
	  		
	  	}
        
      const infowindow = new google.maps.InfoWindow({
        content: contentString,
      });

      const marker = new google.maps.Marker({
          position: latLng,
          map: map,
    	  title: mname,
    	  icon: image,
        });
    	
    	  
        marker.addListener("click", () => {
        infowindow.open({
          anchor: marker,
          map,
          shouldFocus: false,
        });
      });
//    	 marker.addListener("mouseout", () => {
     //   infowindow.close({
     //   });
     // });

    	
      }

    };

    
    
    
    
    
    
    </script>
  </head>
  <body>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0AFpBA6Swfe6czI-5dNBsCXB94pt3id4&callback=initMap&v=weekly"
      async
    ></script>
  </body>
</html>